<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">Listagem de Notes</div>
                <div class="panel-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Title</th>
                            <th>Note</th>
                            <th>Ação</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="o in projectNotes">
                            <th><a ng-href="#/project/{{o.project_id}}/notes/{{o.id}}">{{o.title}}</a></th>
                            <th>{{o.note | limitTo: 25}}...</th>
                            <th><a ng-href="#/project/{{o.project_id}}/notes/{{o.id}}/edit">Editar</a></th>
                            <th><a ng-href="#/project/{{o.project_id}}/notes/{{o.id}}/remove">Excluir</a></th>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>